.wh-pg{
    height: 100vh; /* 100% of viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5em;
    background-image: url("../../images/bgg.png");
    background-image: url("https://wallpaperaccess.com/full/1348815.jpg");
    background-size: cover; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the background image */
    overflow-y: auto;
}
.text-center{
    color: white;
}
  .cnt-cnt{
    margin-top: 5em;
    flex-grow: 1;
    
  }
  .container-box{
    aspect-ratio: 1/1;
    width: 15rem;
    margin: 10px;
  }

  .team-logo {
    width: 30px; /* Set the desired width for the team logos */
    height: auto; /* Maintain aspect ratio */
  }
  
  .team-name {
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 16px; /* Set the font size for team names */
    font-weight: bold;
  }