/* Add your custom CSS styles here */
.navbar {
    background-color: #333; /* Change to your desired background color */
    color: white;
  }
  .custom-toggler-icon {
    color: white; /* Set the background color to white */
}
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  .custom-bg{
    background:  #083d5b; /* Set your gradient colors */
    background-size: 200% 100%; /* Control the direction of the gradient */
    transition: background-position 0.3s ease; /* Add a smooth gradient animation */
  }
  
  .nav-link {
    color: rgb(255, 255, 255);
    margin-right: 20px; /* Adjust as needed */
    cursor: pointer;
  }
  .nav-link.cl:hover{
    color: #1e88e5;
  }
  .nav-link.el:hover{
    color:  #FFD100;
  }
  .nav-link.ecl:hover{
    color: green;
  }


  .uefa-logo{
    aspect-ratio: 1/1;
    width: 5rem;
    cursor: pointer;
  }
  .myRow{
    display: flex;
    flex-direction: row;
  }