/* Add your custom CSS styles here */
.navbar {
    background-color: #333; /* Change to your desired background color */
    color: white;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    color: rgb(255, 255, 255);
    margin-right: 20px; /* Adjust as needed */
  }
  .nav-link.cl:hover{
    color: rgb(69, 69, 243);
  }
  .nav-link.el:hover{
    color:  #FFD100;
  }
  .nav-link.ecl:hover{
    color: green;
  }


  .uefa-logo{
    aspect-ratio: 1/1;
    width: 5rem;
  }
  .myRow{
    display: flex;
    flex-direction: row;
  }